/* .kropka
{
    background:'/img/grey.png';
    width:15px;
    height:15px;
    border:1px solid black;
    float:right;
} */

/* .kropka:hover
{
    display:none;

} */
.hideparent
{
    height:20px;
    width:20px;
    float:right;
    margin-right:0px;
    transition:1s;


}
.kropka
{
    height:20px;
    width:20px;
    position:relative;
    /* border:1px solid grey; */
    /* background:#F0F0F0; */
    /* border-radius:50%; */
    transition:opacity 0.1s linear;
    opacity:0;

}

.hideparent:hover .kropka {
    display:block;
    opacity:1;

}
